<%- include("../includes/head") %> 
<%- include("../includes/navbar") %> 
<title>Adopt Me - Signup</title>
</head>
<body class="bg-slate-200">
    <!-- Sign Up Form -->
    <main class="flex items-center min-h-screen bg-gray-50">
        <div
            class="flex-1 h-full max-w-4xl mx-auto bg-white rounded-lg shadow-xl md:mx-4 lg:mx-auto"
        >
            <div class="flex flex-col lg:flex-row">
                <div class="h-32 md:h-60 lg:h-auto md:w-full lg:w-1/3">
                    <img
                        class="object-cover w-full h-full"
                        src="https://placedog.net/640/480?random"
                        alt="img"
                    />
                </div>
                <div
                    class="flex items-center justify-center p-6 sm:p-12 lg:w-2/3"
                >
                    <div class="w-full">
                        <div class="flex justify-center">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-20 h-20 text-blue-600"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path d="M12 14l9-5-9-5-9 5 9 5z" />
                                <path
                                    d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                                />
                                <path
                                    strokeLinecap="round"
                                    strokeLinejoin="round"
                                    strokeWidth="{2}"
                                    d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                                />
                            </svg>
                        </div>
                        <h1
                            class="mb-4 text-2xl font-bold text-center text-gray-700"
                        >
                            Sign up
                        </h1>
                        <% if(inputData.errorMessage) { %>
                            <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
                                <div class="flex">
                                  <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                                  <div>
                                    <p class="font-bold">Error Submitting Data</p>
                                    <p class="text-sm"><%= inputData.errorMessage %></p>
                                  </div>
                                </div>
                              </div>                            
                        <% } %> 
                        <form action="/signup" method="POST">
                            <section
                                class="grid grid-col-1 md:grid-cols-2 gap-x-5"
                            >
                            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                                <section class="mt-4">
                                    <label class="block text-sm"
                                        >First Name</label
                                    >
                                    <input
                                        value="<%= inputData.firstName %>"
                                        required
                                        type="text"
                                        name="firstName"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="First name"
                                    />
                                </section>
                                <section class="mt-4">
                                    <label class="block text-sm"
                                        >Last Name</label
                                    >
                                    <input
                                    value="<%= inputData.lastName %>"
                                        required
                                        type="text"
                                        name="lastName"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Last Name"
                                    />
                                </section>
                                <section class="mt-4">
                                    <label class="block text-sm"
                                        >Email</label
                                    >
                                    <input
                                    value="<%= inputData.email %>"
                                        required
                                        type="email"
                                        name="email"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Email Address"
                                    />
                                </section>
                                <section class="mt-4">
                                    <label class="block text-sm"
                                        >Phone No</label
                                    >
                                    <input
                                    value="<%= inputData.phoneNumber %>"
                                        required
                                        type="text"
                                        name="phoneNumber"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Phone No"
                                    />
                                </section>
                                <section>
                                    <label class="block mt-4 text-sm">
                                        Password
                                    </label>
                                    <input
                                    value="<%= inputData.password %>"
                                        required
                                        name="password"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Password"
                                        type="password"
                                    />
                                </section>
                                <section>
                                    <label class="block mt-4 text-sm">
                                        Confirm Password
                                    </label>
                                    <input
                                    value="<%= inputData.confirmPassword %>"
                                        required
                                        name="confirmPassword"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Confirm Password"
                                        type="password"
                                    />
                                </section>
                                <section>
                                    <label class="block mt-4 text-sm">
                                        Street
                                    </label>
                                    <input
                                    value="<%= inputData.street %>"
                                        required
                                        name="street"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Street"
                                        type="text"
                                    />
                                </section>
                                <section>
                                    <label class="block mt-4 text-sm">
                                        City
                                    </label>
                                    <input
                                    value="<%= inputData.city %>"
                                        required
                                        name="city"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="City"
                                        type="text"
                                    />
                                </section>
                                <section>
                                    <label class="block mt-4 text-sm">
                                        Country
                                    </label>
                                    <input
                                    value="<%= inputData.country %>"
                                        required
                                        name="country"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Country"
                                        type="text"
                                    />
                                </section>
                                <section>
                                    <label class="block mt-4 text-sm">
                                        Postal
                                    </label>
                                    <input
                                    value="<%= inputData.postal %>"
                                        required
                                        name="postal"
                                        class="w-full md:w-50 px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                        placeholder="Postal Code"
                                        type="text"
                                    />
                                </section>
                            </section>
                            <button
                                type="submit"
                                class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                                href="#"
                            >
                                Sign up
                            </button>
                        </form>
                        <section class="mt-4 text-center">
                            <p class="text-sm">
                                Already have an account?
                                <a
                                    href="/login"
                                    class="text-blue-600 hover:underline"
                                >
                                    Login
                                </a>
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End Sign Up -->
    <%- include("../includes/footer") %> 
    </body>
</html>
