<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../includes/head") %> <%- include("../includes/navbar") %>
        <title>Adopt Me - Profile</title>
    </head>
    <body class="bg-slate-200">
        <div class="container mx-auto px-4 pt-8">
            <div class="flex flex-wrap">
                <!-- Sidebar -->
                <section class="w-full md:w-1/6 lg:w-1/4 p-4">
                    <%- include("../includes/sidebar") %>
                </section>
                <!-- End Sidebar -->

                <!-- Main -->
                <section class="w-full md:w-5/6 lg:w-3/4 p-4">
                    <div
                        class="bg-white border-transparent rounded-lg shadow-lg"
                    >
                        <div
                            class="bg-blue-700 border-b-2 border-gray-400 rounded-tl-lg rounded-tr-lg p-2"
                        >
                            <h5 class="font-bold uppercase text-white">
                                Add Pet Profile
                            </h5>
                        </div>
                        <div class="p-6">
                            <form
                                action="/pet-profile/add?_csrf=<%= locals.csrfToken %>"
                                method="POST"
                                enctype="multipart/form-data"
                            >
                                <section class="flex flex-row flex-wrap">
                                    <!-- Name -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="name"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Name
                                        </label>
                                        <input
                                            required
                                            type="text"
                                            placeholder="Enter Name"
                                            name="name"
                                            id="name"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            value=""
                                        />
                                    </div>
                                    <!-- End Name -->

                                    <!-- Age -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="age"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Age
                                        </label>
                                        <input
                                            required
                                            type="number"
                                            placeholder="Enter Age"
                                            name="age"
                                            id="age"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            value=""
                                        />
                                    </div>
                                    <!-- End Age -->

                                    <!-- Gender -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="gender"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Gender
                                        </label>
                                        <select
                                            required
                                            name="gender"
                                            id="gender"
                                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        >
                                            <option value="" disabled selected>
                                                Select Gender
                                            </option>
                                            <option value="male">Male</option>
                                            <option value="female">
                                                Female
                                            </option>
                                        </select>
                                    </div>
                                    <!-- End Gender -->

                                    <!-- Type -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="type"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Type
                                        </label>
                                        <input
                                            required
                                            name="type"
                                            id="type"
                                            placeholder="Enter Type"
                                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            list="pet-type"
                                        />
                                        <datalist id="pet-type">
                                            <option value="" disabled selected>
                                                Select Type
                                            </option>
                                            <option value="dog">Dog</option>
                                            <option value="cat">Cat</option>
                                            <option value="bird">Bird</option>
                                            <option value="Other">Other</option>
                                        </datalist>
                                    </div>
                                    <!-- End Type -->

                                    <!-- Breed -->
                                    <!-- End Breed -->

                                    <!-- Size -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="size"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Size
                                        </label>
                                        <select
                                            required
                                            name="size"
                                            id="size"
                                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        >
                                            <option value="" disabled selected>
                                                Select Size
                                            </option>
                                            <option value="small">Small</option>
                                            <option value="medium">
                                                Medium
                                            </option>
                                            <option value="large">Large</option>
                                            <option value="extraLarge">
                                                Extra Large
                                            </option>
                                        </select>
                                    </div>
                                    <!-- End Size -->

                                    <!-- Coat Length -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="coatLength"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Coat Length
                                        </label>
                                        <select
                                            required
                                            name="coatLength"
                                            id="coatLength"
                                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        >
                                            <option value="" disabled selected>
                                                Select Coat Length
                                            </option>
                                            <option value="short">Short</option>
                                            <option value="medium">
                                                Medium
                                            </option>
                                            <option value="long">Long</option>
                                            <option value="extraLong">
                                                Extra Long
                                            </option>
                                        </select>
                                    </div>
                                    <!-- End Coat Length -->

                                    <!-- Training -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="trained"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Trained
                                        </label>
                                        <select
                                            required
                                            name="trained"
                                            id="trained"
                                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        >
                                            <option value="" disabled selected>
                                                Select Training
                                            </option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </div>
                                    <!-- End Training -->

                                    <!-- Health -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="health"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Health
                                        </label>
                                        <select
                                            required
                                            name="health"
                                            id="health"
                                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        >
                                            <option value="" disabled selected>
                                                Select Health
                                            </option>
                                            <option value="vaccinations">
                                                Vaccination up to date
                                            </option>
                                            <option value="spayed">
                                                Spayed / neutered
                                            </option>
                                        </select>
                                    </div>
                                    <!-- End Health -->

                                    <!-- Characteristics -->
                                    <!-- End Characteristics -->

                                    <!-- Giveaway / Sell -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="giveaway"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Giveaway / Sell
                                        </label>
                                        <select
                                            required
                                            name="giveaway"
                                            id="giveaway"
                                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        >
                                            <option value="" disabled selected>
                                                Select Giveaway or Sell
                                            </option>
                                            <option value="true">
                                                Giveaway
                                            </option>
                                            <option value="false">Sell</option>
                                        </select>
                                    </div>
                                    <!-- End Giveaway / Sell -->

                                    <!-- Price -->
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="price"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Price
                                        </label>
                                        <div
                                            class="flex items-center shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight"
                                        >
                                            <i class="fas fa-dollar-sign"></i>
                                            <input
                                                required
                                                name="price"
                                                id="price"
                                                type="number"
                                                class="rounded-r ml-2 w-full text-gray-700 focus:outline-none focus:shadow-outline"
                                                value="0"
                                            />
                                        </div>
                                    </div>
                                    <!-- End Price -->
                                </section>

                                <!-- Image Uploader -->
                                <%- include("../includes/imageUploader") %>
                                <!-- End Image Uploader -->

                                <!-- Address -->
                                <!-- <section class="flex flex-row flex-wrap">
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="street"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Street
                                        </label>
                                        <input required
                                            type="text"
                                            name="street"
                                            id="street"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            value=""
                                        />
                                    </div>
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="city"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            City
                                        </label>
                                        <input
                                            type="text"
                                            name="city"
                                            id="city"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            value=""
                                        />
                                    </div>
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="state"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            State
                                        </label>
                                        <input
                                            type="text"
                                            name="state"
                                            id="state"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            value=""
                                        />
                                    </div>
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="country"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Country
                                        </label>
                                        <input
                                            type="text"
                                            name="country"
                                            id="country"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            value=""
                                        />
                                    </div>
                                    <div
                                        class="flex flex-wrap mb-6 px-2 w-full md:w-1/2 lg:w-1/3"
                                    >
                                        <label
                                            for="postal"
                                            class="block text-gray-700 text-sm font-bold mb-2"
                                        >
                                            Postal Code
                                        </label>
                                        <input
                                            type="text"
                                            name="postal"
                                            id="postal"
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            value=""
                                        />
                                    </div>
                                </section> -->
                                <!-- End Address -->
                                <div class="flex items-center justify-between">
                                    <button
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                        type="submit"
                                    >
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- End Main -->
            </div>
        </div>
        <%- include("../includes/footer") %>
        <script src="https://unpkg.com/create-file-list"></script>
        <script src="/scripts/imagePreview.js"></script>
    </body>
</html>
